.inputContainer {
  width: 100%;
  height: 3.375rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

.inputContainer input {
  width: 86.68%;
  height: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  color: var(--gray-100);
}

.inputContainer input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-dark);
}

.inputContainer button {
  width: 5.625rem;
  border-radius: 8px;
  color: var(--gray-100);
  background: var(--blue-dark);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s;
  font-weight: bold;
}

.inputContainer button:hover {
  background: var(--blue);
}

.tasksContainer {
  width: 100%;
  margin-top: 5.6875rem;
}

.tasksInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.tasksInfo span {
  padding: .3rem .8rem;
  background: var(--gray-400);
  border-radius: 15px;
  color: var(--gray-200);
}

.tasksInfo .createds {
  color: var(--blue);
}

.tasksInfo .completeds {
  color: var(--purple);
}

.emptyTasks {
  width: 100%;
  min-height: 15.25rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  background: transparent;
  border-top: 2px solid var(--gray-400);

  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyTasksContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyTasksContent strong {
  font-weight: bold;
  margin-top: 1rem;
}

.emptyTasksContent span {
  margin-top: .5rem;
}

.tasks {
  margin-top: 1.5rem;
}