.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  width: 100%;
}

.logo {
  height: 3rem;
  width: 7.875rem;
}

.todo {
  margin-left: 0.75rem;
  color: var(--blue);
}